@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161414;
    margin: 0;
    padding-top: 8px;
}

.cityName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #979797;
}
.popular{
    margin-top: 100px;
    font-weight: 700;
font-size: 32px;
color: #161414;
}
.box{
    margin-bottom: 120px;
}